/*classes*/
.holder {
	float: left;
	text-align: center;
	width: 15%;
	height:150px;
	background-color: #3cb371
	
}

.scores {
	
}

/*ids*/
#container {
	background-color: #ffdead;

}

header {
	background-color: #cd853f;
}

